    </script>

<style>
    body {
        margin: auto;
    }

    ul, li {
        padding: 0;
        margin: 0;
        list-style: none;
    }
</style>

<div class="col xl-1-1 ">
    <div id="slider" class="sliderbg">
        <ul id="resim">
        </ul>
    </div>
</div>

