

<style>
    body {
        margin: auto;
    }

    ul, li {
        padding: 0;
        margin: 0;
        list-style: none;
    }
</style>

<div class="col xl-1-1 ">
    <div id="slider" class="sliderbg">
        <ul id="resim" style="position:relative"></ul>
    </div>
</div>
<div style="margin-top:450px">sdsds</div>

