<html>
<head>
    <title>@ViewData["title"]</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="~/site/css/flexiblegrid.css">
    <link rel="stylesheet" href="~/site/css/style.css">
    <link rel="stylesheet" href="~/site/css/normalize.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link href="~/Site/css/lightbox.min.css" rel="stylesheet" />
    <link href="~/Site/Alert/jquery.alertable.css" rel="stylesheet" />
    <script src="~/Site/Alert/jquery.alertable.js"></script>
    <link href="~/Site/css/modalStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="wrap">
        <div class="col xl-1-1 container ">
            <div class="wrap">

                <div class="col xl-2-4" style="margin-left:50%">
                    <div class="wrap fix-width" style="margin-left:-508px">

                        <!-- Top panel start-->
                        <div class="col xl-1-1">
                            <div class="wrap top-panel">
                                <div class="col xl-3-9">
                                    <img src="~/Site/img/logo.png" width="250" height="180" />
                                </div>
                                <div class="col xl-3-9">
                                </div>
                                <div class="col xl-3-9">
                                    <div style="float:right;">

                                        <div class="listele" style="text-align: right; margin-right: 30px;">
                                            <span style="color: #FFFFFF; font-size:20px; font-weight: bold;">İletişim</span>
                                            <br>
                                            <br>
                                            <span style="color: #65aff4; font-size:14px;">
                                                6349 Sokak No:33 Daire:3 | Bostanlı
                                            </span>
                                            <br>
                                            <span style="color: #ffffff; font-size:14px;"> Tel : 0232 330 63 63</span>
                                            <br>
                                            <span style="color: #ffffff; font-size:14px;"> Gsm : 0506 343 68 00&nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Top panel end-->


                        <div class="col xl-1-1">
                            <div class="wrap">

                                @Html.Partial("_menu")

                                @RenderBody()


                            </div>
                        </div>




                    </div>
                </div>


                <div class="col xl-1-1 company-message-panel">
                    <div class="wrap">

                        <div class="col xl-2-4" style="margin-left:50%">

                            <div class="company-message fix-width" style="margin-left:-508px">
                                <div>
                                    <span><i>"BUGÜN OYUN HAMURUNU ŞEKİLLENDİREN ELLER, YARIN KENDİ HAYATLARINI ŞEKİLLENDİRİRLER"</i></span>
                                </div>

                                <div>
                                    <span style="float:right; margin-top:5px; font-size:15px;" align="right">Semra ÇABUK</span>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

                <div class="col xl-1-1 ">
                    <div class="wrap">

                        <div class="col xl-2-4" style="margin-left:50%">

                            <div class="wrap fix-width" style="margin-left:-508px">

                                <div class="col xl-7-11">
                                    <div class="wrap footer-menu">
                                        <div class="col xl-1-7">
                                            <a asp-controller="home" asp-action="index">
                                                <span style="font-family:'Arial';font-size:12px;color:#b6ada8;">Ana Sayfa</span>
                                            </a>
                                        </div>
                                        <div class="col xl-1-7">
                                            <a asp-controller="aboutUs" asp-action="index">
                                                <span style="font-family:'Arial';font-size:12px;color:#b6ada8;">Hakkımızda</span>
                                            </a>
                                        </div>
                                        <div class="col xl-1-7">
                                            <a asp-controller="employee" asp-action="index">
                                                <span style="font-family:'Arial';font-size:12px;color:#b6ada8;">Kadromuz</span>
                                            </a>
                                        </div>
                                        <div class="col xl-1-7">
                                            <a asp-controller="galery" asp-action="index">
                                                <span style="font-family:'Arial';font-size:12px;color:#b6ada8;">Galeri</span>
                                            </a>
                                        </div>
                                        <div class="col xl-1-7">
                                            <a asp-controller="blog" asp-action="index">
                                                <span style="font-family:'Arial';font-size:12px;color:#b6ada8;">PsikoBlog</span>
                                            </a>
                                        </div>
                                        <div class="col xl-1-7">
                                            <a asp-controller="faq" asp-action="index">
                                                <span style="font-family:'Arial';font-size:12px;color:#b6ada8;">SSS</span>
                                            </a>
                                        </div>
                                        <div class="col xl-1-7">
                                            <a asp-controller="contact" asp-action="index">
                                                <span style="font-family:'Arial';font-size:12px;color:#b6ada8;">İletişim</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col xl-2-11">
                                </div>
                                <div class="col xl-2-11">
                                    <p style="text-align:left;">
                                        <span style="font-family:'Arial';font-size:12px;color:#b6ada8;">
                                            Ateşböceği Anaokulu © 2018
                                        </span>
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="~/Site/Js/lightbox.min.js"></script>
    @RenderSection("scripts", required: false)


    <script>
        var interval;
        var toplamLi;
        $(function () {
            var slidervar = false;
            if ($(".sliderbg").html() != null) {
                slidervar = true;
                $.ajax({
                    url: "/services/slider/GetBigSliderImages",
                    type: "post",
                    success: function (data) {
                        $(data).each(function (index) {

                            $(".sliderbg ul").append('<li style="position:absolute"><a><img src="' + data[index].image + '" class="slider-position"></a></li>');
                        });
                        slider();
                    }
                });
            }
            else {
                slidervar = true;
                $.ajax({
                    url: "/services/slider/GetBigSliderImages",
                    type: "post",
                    success: function (data) {
                        $(data).each(function (index) {
                            $(".slidersm ul").append('<li style="position:absolute"><a><img src="' + data[index].image + '" class="slider-position" height="350" width="100%"></a></li>');
                        });
                        slider();
                    }
                });
            }

            function slider() {
                $("#slider ul#resim li").hide();
                $("#slider ul#resim li:first").show();

                var SliderCount = 0;
                $.Slider = function (toplam) {
                    if (SliderCount < toplam - 1) {
                        SliderCount++;
                        $("#slider ul#resim li").eq(SliderCount - 1).stop(true, true)
                            .animate({
                                opacity: "toggle"
                            }, 1000);
                        $("#slider ul#resim li").eq(SliderCount).stop(true, true)
                            .animate({
                                opacity: "toggle"
                            }, 1000);
                    }
                    else {
                        $("#slider ul#resim li").eq(SliderCount).stop(true, true)
                            .animate({
                                opacity: "toggle"
                            }, 1000);
                        $("#slider ul#resim li:first").stop(true, true)
                            .animate({
                                opacity: "toggle"
                            }, 1000);
                        SliderCount = 0;
                    }
                }
                toplamLi = $("#slider ul#resim li").length;
                interval = setInterval('$.Slider(' + toplamLi + ')', 4000);
            }
            $("#slider").hover(function () {
                clearInterval(interval);
            }, function () {
                interval = setInterval('$.Slider(' + toplamLi + ')', 4000);
            });

        });



    </script>

    <script>
        var acc = document.getElementsByClassName("question");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function () {
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            }
        }
    </script>

</body>
</html>