
<div class="col xl-1-1">
    <div class="wrap xl-outside-64">
        <div class="col xl-1-7 menu-item" style="background-image:url('/site/img/menu_item1.png'); ">
            <div>
                <a asp-controller="home" asp-action="index">Ana Sayfa</a>
            </div>
        </div>
        <div class="col xl-1-7 menu-item" style="background-image:url('/site/img/menu_item2.png'); ">
            <div>
                <a asp-controller="aboutUs" asp-action="index">Hakkımızda</a>
            </div>
        </div>
        <div class="col xl-1-7 menu-item" style="background-image:url('/site/img/menu_item3.png'); ">
            <div>
                <a href="#">Kadromuz</a>
            </div>
        </div>
        <div class="col xl-1-7 menu-item" style="background-image:url('/site/img/menu_item4.png'); ">
            <div>
                <a asp-controller="galery" asp-action="index">Galeri</a>
            </div>
        </div>
        <div class="col xl-1-7 menu-item" style="background-image:url('/site/img/menu_item5.png'); ">
            <div>
                <a href="#">PsikoBlog</a>
            </div>
        </div>
        <div class="col xl-1-7 menu-item" style="background-image:url('/site/img/menu_item6.png'); ">
            <div>
                <a asp-controller="faq" asp-action="index">SSS</a>
            </div>
        </div>
        <div class="col xl-1-7 menu-item" style="background-image:url('/site/img/menu_item7.png'); ">
            <div>
                <a asp-controller="contact" asp-action="index">İletişim</a>
            </div>
        </div>
    </div>
</div>